<div class="container my-5">

  <div class="mb-3 text-end d-inline-flex">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i> 
      <input type="text" pInputText [(ngModel)]="query" placeholder="type here..." />
    </span>
    <p-button class="ms-3" label="Soul Search"></p-button>
      <p-fileUpload class="ms-3" mode="basic" chooseLabel="Soul Lens" url="https://www.primefaces.org/cdn/api/upload.php"
        accept="image/*" (onUpload)="onUpload($event)"></p-fileUpload>

        <p-toast></p-toast>
  </div>

  <div class="card">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }"
    [value]="products"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10,20,30]">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>
</div>
