<div class="container my-5">
  <div class="mb-3 text-end d-inline-flex">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        [(ngModel)]="query"
        placeholder="type here..."
      />
    </span>
    <p-button class="ms-3"  label="Soul Search" (onClick)="getQueryData()"></p-button>
    <p-fileUpload
      class="ms-3"
      mode="basic"
      chooseLabel="Soul Lens"
      url="https://www.primefaces.org/cdn/api/upload.php"
      accept="image/*"
      (onUpload)="onUpload($event)"
    ></p-fileUpload>

    <p-toast></p-toast>
  </div>

  <div class="card">
      <!-- (onPage)="pageChange($event)" -->
    <p-table
      [value]="files"
      [paginator]="true"
      [rows]="limit"
      [currentPageReportTemplate]="pagination_line"
      (sortFunction)="customSort($event)"
      [customSort]="true"
      [rowsPerPageOptions]="[5, 10]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th
            *ngFor="let column of table_config"
            [pSortableColumn]="column.name"
            [width]="column.width"
          >
            {{ column.label }} <p-sortIcon [field]="column.name"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-file>
        <tr>
          <td *ngFor="let column of table_config">{{ file[column.name] }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button
          type="button"
          icon="pi pi-plus"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button
          type="button"
          icon="pi pi-cloud"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
    </p-table>
  </div>
</div>
