<!-- //images.squarespace-cdn.com/content/v1/58bdc372bebafb465ea13202/1593116581016-KDFS5PZHONSWEZAOCJ8F/LOGO.png?format=1500w -->

<div class="limiter">
  <div
    class="container-login100"
  >
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <div class="text-center">
          <img class="w-50 text-white" src="https://images.squarespace-cdn.com/content/v1/58bdc372bebafb465ea13202/1593116581016-KDFS5PZHONSWEZAOCJ8F/LOGO.png" alt="PRESERVATION PARTNERS of the FOX VALLEY">
        </div>

        <h1 class="text-white text-center mt-4">Search With SoulEngine</h1>
        <p class="text-white text-center mb-4">Digital Records Management for Museums and Historical Sites</p>


        <div class="container-login100-form-btn mt-3">
            <button class="login100-form-btn zoom" (click)="login()">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>