<img src="https://images.squarespace-cdn.com/content/v1/58bdc372bebafb465ea13202/1496954370486-GU04MZSSZ5HYFGPADGC8/Fabyan-Villa-huber_slide.jpg" style="width:100%; opacity:70%; height:450px; object-fit:cover">
<div class="container-fluid px-0 text-center px-md-50">
    <p class="mx-auto" style="font-size:50px; color: black; width: 600pxˆ; padding: 16px;"><em><b>SouL search engine</b></em></p>
</div>
<div class="container my-5 text-center py-md-100"></div>
    <p-button (click)="auth.loginWithRedirect()">Log in</p-button>
</div>
